.h3-descuentos, .container-p-destacado-3, .container-p-destacado-2, .container-p-destacado-1, .container-col, .card-mod, .btn-destacado {
  display: flex;
  justify-content: center;
  text-align: center;
}

.tel-mod, .localidad-mod {
  display: flex;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: #d4c3b7;
}

.logo_nav {
  height: 28px;
  width: 28px;
  background-color: transparent;
}

.titulo {
  font-size: 35px;
  color: #c29360;
  font-family: "Cookie", cursive;
  padding: 0;
  margin: 0;
  padding: 0;
  margin: 0;
}

.card {
  -webkit-box-shadow: 0px 0px 24px 4px rgb(135, 135, 135);
  -moz-box-shadow: 0px 0px 24px 4px rgb(135, 135, 135);
  box-shadow: 0px 0px 24px 4px rgb(135, 135, 135);
  overflow: hidden;
  background-color: #d4c3b7;
}

.btn-destacado {
  background-color: #be9972;
  border-color: #be9972;
  color: #d4c3b7;
  border-radius: 10px;
  text-decoration: none;
}
.btn-destacado:hover {
  background-color: #c29360 !important;
  color: #d4c3b7 !important;
}

main {
  background-color: #d4c3b7;
  overflow-x: hidden;
  font-family: "Raleway", sans-serif;
}

.card-mod {
  margin: 15px 0 15px 0;
}

.carrusel-control {
  background-color: #be9972;
}

.carrusel {
  height: 50vh;
  margin-bottom: 20px;
  border-radius: 5px;
}

.h2-destacados {
  font-size: 60px;
  color: #c29360;
  font-family: "Cookie", cursive;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.container-col {
  align-items: center;
  height: 250px;
  background-color: #c19a75;
}

.container-p-destacado-1 {
  align-items: center;
  background-color: #e6c39d;
}

.container-p-destacado-2 {
  align-items: center;
  background-color: #f1d6b7;
}

.container-p-destacado-3 {
  align-items: center;
  background-color: #faddbb;
}

.p-destacado {
  font-size: 30px;
}

.card-size {
  height: auto;
  width: auto;
}

.nopadding {
  padding: 0;
}

.h3-descuentos {
  font-size: 30px;
  margin-bottom: 10px;
  font-family: "Cookie", cursive;
  color: #c29360;
}

@media screen and (max-width: 378px) {
  .container_header-img {
    display: none;
  }
  .carrusel {
    height: 30vh;
  }
}
@media screen and (max-width: 768px) {
  .carrusel {
    background-position: center;
  }
  .card-img-top {
    height: 400px;
    width: 300px;
    justify-content: center;
  }
  .top {
    order: 2;
  }
  .bottom {
    order: 1;
  }
  .img-fluid {
    width: 200px;
    height: 200px;
  }
}
/*############## HEADER ##############*/
.container_header-img {
  margin: 0;
  padding: 0;
}

.img_header {
  width: 100%;
}

.navbar-mod {
  display: inline-block;
}

.nav-lista {
  font-size: 18px;
  color: #c29360;
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.nav-lista:hover {
  color: #bca78f;
}

@media screen and (max-width: 992px) {
  .container_header-img {
    display: none;
  }
  .titulo {
    display: flex;
  }
  .nav-lista {
    font-size: 19px;
    color: #c29360;
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
  }
}
@media screen and (min-width: 992px) {
  .logo_nav {
    display: none;
  }
  .titulo {
    display: none;
  }
}
/*############## FIN HEADER ##############*/
/*############## FOOTER ##############*/
.bg-footer {
  background-image: url("../images/bg-footer.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.footer-bottom {
  position: absolute;
}

.h5-footer {
  text-align: center;
  font-family: "Roboto", sans-serif, cursive;
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
}

.footer_socialmedia i {
  padding: 18px;
}

.fa-brands {
  color: #af9274;
}
.fa-brands:hover {
  color: #ad9577;
  transition: 0.3s;
}

.localidad-mod {
  text-decoration: none;
  color: #c29360;
}
.localidad-mod:hover {
  color: #be9972;
}

.btn-goup {
  display: flex;
  justify-content: right;
  text-decoration: none;
  position: relative;
}

.fa-solid {
  color: #c29360;
}
.fa-solid:hover {
  color: #ad9577;
  transition: 0.3s;
}

.container_redes {
  border-bottom: 1px solid;
}

@media screen and (max-width: 378px) {
  .h5-footer {
    font-size: 15px;
  }
}
/*############## FIN FOOTER ##############*/
/*############## SOBRE NOSOTROS ##############*/
.container_aboutus {
  display: flex;
  justify-content: center;
}
.container_aboutus-caja {
  height: 500px;
  width: 500px;
  margin: 20px;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #c29360;
  background-image: url("../images/WhatsApp Image 2022-10-10 at 21.54.15.jpeg");
  background-repeat: no-repeat;
  background-position: center;
}
.container_aboutus-caja p {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}

@media screen and (max-width: 378px) {
  .container_aboutus-caja p {
    font-size: 15px;
  }
}
/*############## FIN SOBRE NOSOTROS ##############*/
/*############## PREGUNTAS FRECUENTES ##############*/
.preg__frecuentes {
  font-size: 20px;
  font-weight: bold;
}

.preg__frecuentes__respuestas {
  font-size: 18px;
}

@media screen and (max-width: 378px) {
  .preg__frecuentes,
.preg__frecuentes__respuestas {
    font-size: 15px;
  }
}
/*############## FIN PREGUNTAS FRECUENTES ##############*/
.card-contacto {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 80%;
}

input.form-control,
input.form-control:focus {
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -moz-transition: none;
  -webkit-transition: none;
}

/*# sourceMappingURL=style.css.map */
