.container-p-destacado, .container-col, .card-mod, .btn-destacado {
  display: flex;
  justify-content: center;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-image: url("../images/background-image.jpeg");
  overflow-x: hidden;
}

.logo_nav {
  height: 28px;
  width: 28px;
  background-color: transparent;
}

.titulo {
  font-size: 35px;
  color: #694f38;
  font-family: "Cookie", cursive;
  padding: 0;
  margin: 0;
  padding: 0;
  margin: 0;
}

.card {
  -webkit-box-shadow: 0px 0px 24px 4px rgb(135, 135, 135);
  -moz-box-shadow: 0px 0px 24px 4px rgb(135, 135, 135);
  box-shadow: 0px 0px 24px 4px rgb(135, 135, 135);
  overflow: hidden;
  background-color: #d4c3b7;
}

.btn-destacado {
  background-color: #be9972;
  border-color: #be9972;
  color: #d4c3b7;
}
.btn-destacado:hover {
  background-color: #be9972 !important;
  border-color: #694f38 !important;
}

main {
  background-color: url("../images/background-image.jpeg");
  overflow-x: hidden;
  font-family: "Raleway", sans-serif;
}

.card-mod {
  margin-bottom: 14px;
}

.carrusel-control {
  background-color: #694f38;
}

.carrusel {
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  margin-bottom: 20px;
  border-radius: 5px;
}

.carrusel-img-1 {
  background-image: url("../images/1.png");
}

.carrusel-img-2 {
  background-image: url("../images/2.png");
}

.carrusel-img-3 {
  background-image: url("../images/3.png");
}

.h2-destacados {
  font-size: 60px;
  color: #694f38;
  font-family: "Cookie", cursive;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.container-col {
  align-items: center;
  height: 250px;
  background-color: beige;
}

.container-p-destacado {
  align-items: center;
  background-color: #bca78f;
}

.p-destacado {
  font-size: 30px;
}

.card-size {
  height: auto;
  width: auto;
}

@media screen and (max-width: 378px) {
  .container_header-img {
    display: none;
  }
  .carrusel {
    background-position: center;
    height: 30vh;
  }
}
@media screen and (max-width: 768px) {
  .carrusel {
    background-position: center;
  }
  .card-img-top {
    height: 400px;
    width: 300px;
    justify-content: center;
  }
  .container-p-destacado {
    flex-direction: column;
    flex-wrap: wrap;
  }
}
/*############## HEADER ##############*/
.container_header-img {
  margin: 0;
  padding: 0;
}

.img_header {
  width: 100%;
}

.nav-lista {
  font-size: 20px;
  color: #694f38;
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.nav-lista:hover {
  text-decoration: underline;
  text-decoration-color: #be9972;
}

@media screen and (max-width: 992px) {
  .container_header-img {
    display: none;
  }
  .titulo {
    display: flex;
  }
  .nav-lista {
    font-size: 19px;
    color: #694f38;
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
  }
}
@media screen and (min-width: 992px) {
  .logo_nav {
    display: none;
  }
  .titulo {
    display: none;
  }
}
@media screen and (min-width: 993px) and (max-width: 1017px) {
  .nav-lista {
    font-size: 19px;
    color: #694f38;
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
  }
}
/*############## FIN HEADER ##############*/
/*############## FOOTER ##############*/
.bg-footer {
  background-image: url("../images/bg-footer.png");
  background-size: cover;
}

.footer-bottom {
  position: absolute;
}

.h5-footer {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

@media screen and (max-width: 378px) {
  .h5-footer {
    font-size: 15px;
  }
}
.footer_socialmedia i {
  padding: 18px;
}

.fa-brands {
  color: #694f38;
}
.fa-brands:hover {
  color: #ad9577;
  transition: 0.3s;
}

.localidad-mod {
  text-decoration: none;
  color: #694f38;
}
.localidad-mod:hover {
  color: #be9972;
}

.btn-goup {
  display: flex;
  justify-content: right;
  text-decoration: none;
  position: relative;
}

.fa-solid {
  color: #694f38;
}
.fa-solid:hover {
  color: #ad9577;
  transition: 0.3s;
}

.container_redes {
  border-bottom: 1px solid;
}

/*############## FIN FOOTER ##############*/
.container_aboutus {
  display: flex;
  justify-content: center;
  background-image: url("../images/background-image.jpeg");
}
.container_aboutus-caja {
  height: 500px;
  width: 500px;
  margin: 20px;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #694f38;
  background-image: url("../images/bg-aboutus.jpeg");
}
.container_aboutus-caja p {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
}

@media screen and (max-width: 378px) {
  .container_aboutus-caja p {
    font-size: 15px;
  }
}
/*############## PREGUNTAS FRECUENTES ##############*/
.preg__frecuentes {
  font-size: 23px;
  font-weight: bold;
  margin-left: 5px;
}

.preg__frecuentes__respuestas {
  font-size: 18px;
  margin-left: 5px;
}

@media screen and (max-width: 378px) {
  .preg__frecuentes {
    font-size: 20px;
  }
  .preg__frecuentes__respuestas {
    font-size: 15px;
  }
}
/*############## FIN PREGUNTAS FRECUENTES ##############*/
.card-contacto {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 80%;
}

/*# sourceMappingURL=style.css.map */
