$color-1: #d4c3b7;
$color-2: #bca78f;
$color-3: #ad9577;
$color-4: #be9972;
$color-5: #c29360;
$color-6: #fbecd0;
$color-7: #f1d6b7;
$color-8: #c19a75;
$color-9: #f7cc9b;
$color-10: #af9274;

$color-11: #e6c39d;

$color-12: #faddbb;
