$font-principal: "Raleway", sans-serif;
$font-navbar: "Cairo", sans-serif;
$font-preguntas: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
$color-card-background: blanchedalmond;
$color-btn: rgb(194, 147, 96);
$color-btn-hover: #91663d;
$color-fa-brands: gray;
$color-btn-up: chocolate;
$color-card-shadow: rgba(135, 135, 135, 1);
