/*############## FOOTER ##############*/

.bg-footer {
  background-image: url("../images/bg-footer.png");
  background-size: cover;
}

.footer-bottom {
  position: absolute;
}

.h5-footer {
  text-align: center;
  font-family: $font-navbar;
  font-weight: bold;
}
@media screen and (max-width: 378px) {
  .h5-footer {
    font-size: 15px;
  }
}

.footer_socialmedia i {
  padding: 18px;
}

.fa-brands {
  color: $color-5;

  &:hover {
    color: $color-3;
    transition: 0.3s;
  }
}

.localidad-mod {
  text-decoration: none;
  color: $color-5;
  &:hover {
    color: $color-4;
  }
}

.btn-goup {
  display: flex;
  justify-content: right;
  text-decoration: none;
  position: relative;
}

.fa-solid {
  color: $color-5;

  &:hover {
    color: $color-3;
    transition: 0.3s;
  }
}

.container_redes {
  border-bottom: 1px solid;
}

/*############## FIN FOOTER ##############*/
