.card-contacto {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 80%;
}

//ANULA SHADOW Y GLOW DE FORMS DE BS.
input.form-control,
input.form-control:focus {
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -moz-transition: none;
  -webkit-transition: none;
}
//////////////////////////////////////
