* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-image: url("../images/background-image.jpeg");
  overflow-x: hidden;
}

main {
  font-family: $font-principal;
}

.btn-primary {
  background: $color-btn;
  background: linear-gradient(
    90deg,
    rgba(194, 147, 96, 1) 0%,
    rgba(247, 204, 155, 1) 100%
  );
  border-color: $color-btn;
  display: flex;
  text-align: center;
  justify-content: center;

  &:hover {
    color: $color-btn-hover !important;
    border-color: $color-btn-hover !important;
  }
}
