* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-image: url("../images/background-image.jpeg");
  overflow-x: hidden;
}

// main {
//   font-family: $font-principal;
// }

.btn-destacado {
  background: $color-btn;
  background: linear-gradient(
    90deg,
    rgba(194, 147, 96, 1) 0%,
    rgba(247, 204, 155, 1) 100%
  );
  border-color: $color-btn;
  @extend %display-flexible-centrado;

  &:hover {
    color: $color-btn-hover;
    border-color: $color-btn-hover;
  }
}

.form-size {
  max-width: 70%;
}

main {
  background-color: map-get($map: $main, $key: bg-principal);
  overflow-x: map-get($map: $main, $key: overflow-equis);
  font-family: map-get($map: $main, $key: font);
}
