* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-image: url("../images/background-image.jpeg");
  overflow-x: hidden;
}

.logo_nav {
  height: 28px;
  width: 28px;
  background-color: transparent;
}

.titulo {
  @include titulo_principal(35px, $color-5, $font-titulo);
  padding: 0;
  margin: 0;
}

.card {
  -webkit-box-shadow: 0px 0px 24px 4px $color-card-shadow;
  -moz-box-shadow: 0px 0px 24px 4px $color-card-shadow;
  box-shadow: 0px 0px 24px 4px $color-card-shadow;
  overflow: hidden;
  background-color: $color-1;
}

.btn-destacado {
  background-color: $color-4;
  border-color: $color-4;
  color: $color-1;
  @extend %display-flexible-centrado;

  &:hover {
    background-color: $color-4 !important;
    border-color: $color-5 !important;
  }
}

main {
  background-color: map-get($map: $main, $key: bg-principal);
  overflow-x: map-get($map: $main, $key: overflow-equis);
  font-family: map-get($map: $main, $key: font);
}

.card-mod {
  @extend %display-flexible-centrado;
  margin-bottom: 14px;
}

@media screen and (max-width: 992px) {
  .navbar-mod {
    @include titulo_principal(20px, $color-5, $font-navbar);
  }
}
