/*############## HEADER ##############*/

.container_header-img {
  display: flex;

  .img_header {
    width: 50%;
  }
}

.navbar-mod {
  font-size: 20px;
  font-family: "Cairo", sans-serif;
  font-weight: bold;
}

/*############## FIN HEADER ##############*/
