/*############## HEADER ##############*/

.container_header-img {
  margin: 0;
  padding: 0;
}

.img_header {
  width: 100%;
}

.nav-lista {
  @include titulo_principal($size-3, $color-5, $font-navbar);
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  &:hover {
    text-decoration: underline;
    text-decoration-color: $color-4;
  }
}

@media screen and (max-width: 992px) {
  .container_header-img {
    display: none;
  }
  .titulo {
    display: flex;
  }
  .nav-lista {
    @include titulo_principal(19px, $color-5, $font-navbar);
  }
}
@media screen and (min-width: 992px) {
  .logo_nav {
    display: none;
  }
  .titulo {
    display: none;
  }
}

@media screen and (min-width: 993px) and (max-width: 1017px) {
  .nav-lista {
    @include titulo_principal(19px, $color-5, $font-navbar);
  }
}

/*############## FIN HEADER ##############*/
