.carrusel-control {
  background-color: $color-5;
}

.carrusel {
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  margin-bottom: 20px;
  border-radius: 5px;
}

.carrusel-img-1 {
  background-image: url("../images/1.png");
}
.carrusel-img-2 {
  background-image: url("../images/2.png");
}
.carrusel-img-3 {
  background-image: url("../images/3.png");
}

.h2-destacados {
  @include titulo_principal(60px, $color-5, $font-titulo);
  margin-bottom: 10px;
}

.container-col {
  @extend %display-flexible-centrado;
  align-items: center;
  height: 250px;
  background-color: beige;
}

.container-p-destacado {
  @extend %display-flexible-centrado;
  align-items: center;
  background-color: $color-2;
}

.p-destacado {
  font-size: 30px;
}

.card-size {
  height: auto;
  width: auto;
}

@media screen and (max-width: 378px) {
  .container_header-img {
    display: none;
  }
  .carrusel {
    background-position: center;
    height: 30vh;
  }
}

@media screen and (max-width: 768px) {
  .carrusel {
    background-position: center;
  }
  .card-img-top {
    height: 400px;
    width: 300px;
    justify-content: center;
  }
  .container-p-destacado {
    flex-direction: column;
    flex-wrap: wrap;
  }
}
